.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}
.card-cont{
  border: 1px solid blue;
  height: 50vh;
  width: 40%;
  box-shadow: rgba(41, 22, 220, 0.4) 5px 5px, rgba(62, 58, 189, 0.3) 10px 10px;
  background-image: linear-gradient(to top, #6562c1 0%, #A6C1EE 100%);
}
.image{
  display: flex;
  padding: 30px 0 0 10px;
  justify-content: space-around;
  
}

.icon{
  /* border: 1px solid blue; */
  display: flex;
  margin-left: 50px;
  padding: 5px;
  /* justify-content: space-evenly; */
}
.icon p{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  margin-left: 30px;
}

p{
  display: flex;
  justify-content: center;
}

button{
    margin-top: 20px;
    background-color: #8683dd;
    padding: 5px;
    border: none;
  
}

button:hover{
  cursor: pointer;
  background-color: rgb(183, 186, 232);
}